# BEGIN Quaco admin

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /quaco/src/admin/
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /quaco/src/admin/index.php
</IfModule>

# END Quaco admin